

<head>
  <meta name="GENERATOR" content="Microsoft FrontPage 4.0">
  <meta name="ProgId" content="FrontPage.Editor.Document">
</head>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tbody>
    <tr>
      <td align="left" valign="top" colspan="2" class="H2">Problems &amp; Solutions</td>
    </tr>
  </tbody>
</table>

<table border="0" cellspacing="5" cellpadding="2" width="100%">
  <tbody>
    <tr>
      <td align="right" valign="top" width="3%" height="21">&nbsp;</td>
      <td width="97%" height="21">List is the list of current problematic spots on the development
        process. Some of them are with the proposed solution and others still have no solution or
        bypass.</td>
    </tr>
    <tr>
      <td width="97%" height="21" colspan="2" class="H4">Framework</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="97%">Update the Project Data Sheet documentation. Generate a first release.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/gear16.gif" border="0" alt="Task in progress" width="16" height="16"></td>
      <td width="100%">Create the project timeline document and set the main goals.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Update the Project Data Sheet to include the project structure. Reformat the
        page to contain only project top level data and start the generation of additional pages to
        store Things ToDo and Problems&amp;Solutions.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Upload the background project documentation.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Upload the application model documentation for the Framework subproject and
        made it available from this web service.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Write the model user interface description and fix it before starting
        production development. This document will be the draft version for a User Interface Manual.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Write framework specifications and API. This documentation is expected in
        Javadoc format but do not forget that developers need &quot;code by example&quot;
        explanations and not only API definitions.</td>
    </tr>
    <tr>
      <td width="97%" height="21" colspan="2" class="H4">Prototypes</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/gear16.gif" border="0" alt="Task in progress" width="16" height="16"></td>
      <td width="100%">Start a prototype to show the look of the User Interface. The prototype
        screen shots will be available soon at this link.<br>
        2004/05/21 - <a href="http://directpersist.sourceforge.net/media/snapshots/model_040521.gif">very
        early image of two table relationship</a></td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/gear16.gif" border="0" alt="Task in progress" width="16" height="16"></td>
      <td width="100%">Start development of the Framework prototype to check framework
        implementation and performance comparatives.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Start another prototype of an Eclipse plug-in to test some of the features
        and to have the look and feel described in the first prototype</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Create a prototype for the New File Wizard to connect to Oracle Database and
        to store user properties. Use this as the learning point to write the production wizard.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Evaluate the possibility to use the EMF to generate the relational model
        classes source code. Use implementation separation to add object properties to the
        relational model.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Locate or design the icons that will be required by the plug-in. There are a
        lot of references on the original Oracle Designer view model that is being used as the base.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/stop.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Create a tool palette to be used on the prototype editor. The tool palette
        will start with the creation of a table (filled with hard coded contents) and the foreign
        key relationships drawn as edges.</td>
    </tr>
    <tr>
      <td width="97%" height="21" colspan="2" class="H4">Framework</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/gear16.gif" border="0" alt="Task in progress" width="16" height="16"></td>
      <td width="100%">Start coding the DirectPersistence framework classes and interfaces.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/gear16.gif" border="0" alt="Task in progress" width="16" height="16"></td>
      <td width="100%"></td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/gear16.gif" border="0" alt="Task in progress" width="16" height="16"></td>
      <td width="100%">Write the base of the framework used to read/write to the database on object
        interactions.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Write a prototype for a current project to use the manually created source
        files as a template for the automatic source generator. Try to use Eclipse EMF to generate
        soure code from templates.</td>
    </tr>
    <tr>
      <td width="97%" height="21" colspan="2" class="H4">Framework Features</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Implement cache mechanisms to the object instantiation engine so that objects
        are controlled through a caching pool.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Implement the object instantiation from the single OID and class reference
        instead of using the new <code>ClassName</code> call.</td>
    </tr>
    <tr>
      <td width="97%" height="21" colspan="2" class="H4">Model Features</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">A Table in the model represents both the Database Table relational object and
        the Java class object. The names are related and there must be a routine to generate a
        proper java class name from the table name as a default option.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Try to set the main view canvas to a snap-to-grid behaviour to allow better
        model reorganizations.</td>
    </tr>
    <tr>
      <td width="97%" height="21" colspan="2" class="H4">Coding</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Write a full featured <code>GraphicalEditorWithPalette</code> class to
        implement the base prototype where to deploy some of the model <code>Figures</code>.</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="3%"><img src="http://directpersist.sourceforge.net/media/delete.gif" border="0" alt="Task not started" width="16" height="16"></td>
      <td width="100%">Write a new class of container that accepts the addition of elements by drag
        and drop but that stored them into different container boxes. This applies to a constraint
        (tool element) applied to a field (target element) that is contained inside a table
        (container).</td>
    </tr>
  </tbody>
</table>

