<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="net.sf.assistant.website.static">
        <wb-resource deploy-path="/" source-path="/htdocs"/>
        <property name="context-root" value="net.sf.assistant.website.static"/>
    </wb-module>
</project-modules>
