/* Shared style applied to all pages */
/* trick to get desired scroll bar behavior on all browsers */ 
html {
	overflow:auto;
	border:0px;
	height:100%;
	}

	
body {	
	margin-left:14px;
	margin-top:10px;
	font-family:Tahoma;
	font-size: 14px;
	color:#000000;
	background-image:url("./media/titlebanner_higher.gif");
	background-repeat: repeat-x;
	} 
	
h1 {
	text-align:left;
	font-size: 24pt;
	font-weight:normal;
	color:#E5E5E5;
	} 

h4 {
	color:#787878;
	}	
	
a.LINK {
	display:block;
	font-family:Tahoma;
	font-size: 16px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	padding-bottom:15px;
	}
	
p {
	padding-left:14px;
	}
	

