@CHARSET "ISO-8859-1";
*.COLOR_DARK_GRAY	{color: #808080;}
*.COLOR_GRAY	{color: #AAAAAA;}
*.COLOR_LIGHT_GRAY	{color: #D0D0D0;}
*.COLOR_LIGHTEST_GRAY	{color: #EEEEEE;}
*.COLOR_MEDIUM_BLUE	{color: #0010E0;}
*.COLOR_STANDARD_ORANGE {color: #FFC400;}

	
*.COLOR_BRILLIANT_RED	{color: #FF3300;}
*.COLOR_DARK_GREEN	{color: #00A000;}
*.COLOR_DARK_YELLOW	{color: #F8BB05;}

/* //- M A P   C O L O R S */
*.COLOR_BASE_OWNED						{color: #00A000;}
*.COLOR_BASE_FRIEND						{color: #00A000;}
*.COLOR_BASE_ENEMY						{color: #FF3300;}
*.COLOR_BASE_NEUTRAL					{color: #F8BB05;}
*.COLOR_BASE_RING							{color: #D0D0D0;}
*.COLOR_PLANET_UNEXPLORED			{color: #D0D0D0;}
*.COLOR_PLANET_NOINFO					{color: #808080;}
*.COLOR_PLANET_INFO						{color: #0010E0;}
*.COLOR_PLANET_OBSOLETE				{color: #E481E4;}
*.COLOR_PLANET_CLASS_A				{color: #FF3300;}
*.COLOR_PLANET_CLASS_B				{color: #FF3300;}
*.COLOR_PLANET_CLASS_C				{color: #808080;}
*.COLOR_PLANET_NATIVES				{color: #FFC400;}

/* //- F F   C O M B I N A T I O N   C O L O R S */
*.COLOR_FF_UNDEFINED					{color: #AAAAAA;}
*.COLOR_FF_FOE								{color: #FF3300;}
*.COLOR_FF_FRIEND							{color: #00A000;}
*.COLOR_FF_FOEFRIEND					{color: #B00DF0;}
*.COLOR_FF_NEUTRAL						{color: #F8BB05;}
*.COLOR_FF_FOENEUTRAL					{color: #80C0EE;}
*.COLOR_FF_FRIENDNEUTRAL			{color: #C8E08D;}
*.COLOR_FF_FOEFRIENDNEUTRAL		{color: #000000;}


.COLOR_FF_FOEFRIEND={color: #B00DF0}
.COLOR_FF_FOENEUTRAL={color: #80C0EE}
.COLOR_FF_FRIENDNEUTRAL={color: #C8E08D}
.COLOR_FF_FOEFRIENDNEUTRAL={color: #000000}


.COLOR_DEFAULTBASE={color: #808080}
.COLOR_NOMINERALSPLANET={COLOR:#6666FF}

.COLOR_LIGHT_RED={color: #FF8080}
.COLOR_MEDIUM_RED={color: #E12D00}
.COLOR_DARK_RED={color: #808080}
.COLOR_BRILLIANT_GREEN={color: #808080}
.COLOR_LIGHT_GREEN={color: #808080}
.COLOR_MEDIUM_GREEN={color: #808080}
.COLOR_BRILLIANT_BLUE={color: #808080}
.COLOR_LIGHT_BLUE={color: #808080}
.COLOR_MEDIUM_BLUE={color: #808080}
.COLOR_DARK_BLUE={color: #808080}
.COLOR_BRILLIANT_YELLOW={color: #FFFF00}

.COLOR_PLANET_OBSOLETE={color: #E481E4}

.COLOR_UNDEFINED_BACKGROUND={color: #FEFDDE}
.COLOR_FRIEND_BACKGROUND={color: #D1FCD7}
.COLOR_FOE_BACKGROUND={color: #FDDBD5}

.COLOR_FF_FOE								= COLOR_SHIP_ENEMY;
.COLOR_FF_FRIEND							= COLOR_DARK_GREEN;
.COLOR_FF_NEUTRAL						= COLOR_SHIP_NEUTRAL;