<html>
<body>
<h2>E D I T O R</h2>

EditorPart Subclasses must implement the following methods:
<ul>
	<li>IEditorPart.init - to initialize editor when assigned its site</li>
	<li>IWorkbenchPart.createPartControl - to create the editor's controls</li>
	<li>IWorkbenchPart.setFocus - to accept focus</li>
	<li>IEditorPart.isDirty - to decide whether a significant change has occurred</li>
	<li>IEditorPart.doSave - to save contents of editor</li>
	<li>IEditorPart.doSaveAs - to save contents of editor</li>
	<li>IEditorPart.isSaveAsAllowed - to control Save As</li>
</ul>
Subclasses may extend or reimplement the following methods as required:
<ul>
	<li>IExecutableExtension.setInitializationData - extend to provide additional initialization
	when editor extension is instantiated</li>
	<li>IWorkbenchPart.dispose - extend to provide additional cleanup</li>
	<li>IAdaptable.getAdapter - reimplement to make the editor adaptable</li>
</ul>

The extension should be described as:

<pre>
   &lt;extension point=&quot;org.eclipse.ui.editors&quot;&gt;
        &lt;editor id=&quot;com.example.myplugin.ed&quot;
           name=&quot;My Editor&quot;
           icon=&quot;./images/cedit.gif&quot;
   		   extensions=&quot;foo&quot; 
   		   class=&quot;com.example.myplugin.MyFooEditor&quot; 
   		   contributorClass=&quot;com.example.myplugin.MyFooEditorContributor&quot; 
        /&gt;
   &lt;/extension&gt;
  </pre>

MultipageEditorPart Subclasses must implement the following methods:
<ul>
	<li>createPages - to create the required pages by calling one of the addPage methods</li>
	<li>IEditorPart.doSave - to save contents of editor</li>
	<li>IEditorPart.doSaveAs - to save contents of editor</li>
	<li>IEditorPart.isSaveAsAllowed - to enable Save As</li>
	<li>IEditorPart.gotoMarker - to scroll to a marker</li>
</ul>


<h2>O P E N O R D E R</h2>

The order of calls identified in the open of an editor is next:
<ul>
	<li>init()
	<ul>
		<li>setSite()</li>
		<li>setInput</li>
		<li>something more...</li>
	</ul>
	</li>
	<li>createPages()
	<ul>
		<li>setActivePage()</li>
	</ul>
	</li>
</ul>

<hr>
<h2> R E F A C T O R I N G</h2>
 * Move and rename class Activator
 * Move and rename class WorkflowModelManager.
 * Move and rename class Perspective 
 * INclude ApplicationWorkbenchAdvisor into Application to reduce the number of files.
 * do the same with ApplicationWorkbenchWindowAdvisor.
<hr>
= TASK DESCRIPTION =
Refactoring of code. Phase 1

== Actions to perform in this phase. ==
 * Merge classes {{{MapFigure}}} and {{{HarpoonMap}}}.
 * 
<hr>
<h2>R E Q U I R E M T S</h2>
</body>
</html>
