/* Wiki Rendered Styles */                                                                                                                                                                                                                   
.wiki { line-height: 150%; font-family: verdana, arial, helvetica, serif; font-size: normal; }                                                                                                                                                         
h1 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 16px; }                                                                                                                                                             
.wiki h2 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 14px; }                                                                                                                                                             
.wiki h3 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 12px; }                                                                                                                                                             
.wiki h4 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 12px; }                                                                                                                                                             
.wiki table { border-collapse: collapse; margin: 10px 0; }                                                                                                                                                                                   
.wiki p { margin: 0; padding: 0; padding: 5px 0; }                                                                                                                                                                                           
.wiki td { border: 1px solid #DDD; }                                                                                                                                                                                                         
.wiki #toc { border: 1px solid #AAA; background: #EEE; padding: 5px; margin: 0 0 10px 10px; width: 25%; float: right; clear: right;}                                                                                                         
.wiki #toc h1 { font-weight: normal; font-size: 1.2em; padding: 0; }                                                                                                                                                                         
.wiki #toc a:hover { color: #00D; background: #FFD; }                                                                                                                                                                                        
.wiki pre { background-color: #EEE; border: 1px solid #CCC; padding: 10px; font-size: small; }                                                                                                                                               
.wiki .nob td { border: 0px none; }                                                                                                                                                                                                                 
.wiki hr { height: 1px; color: #AAA; background-color: #AAA; border: 0px none; margin: 0 10px }                                                                                                                                                    
.wiki a.ext { background: url('/i/a.gif') no-repeat center right; padding-right: 10px }                                                                                                                                                       
.wiki a.wiki_link_new { color: #600; }                                                                                                                                                                                                       
.wiki a.wiki_link_ext { background: url('/i/a.gif') no-repeat center right; padding-right: 10px }                                                                                                                                             
.wiki img { border: 0px none; }   