/*..............................................................................*/
/*... C O L O R S
/*..............................................................................*/
/*... Corporative colors:
/*  red                     #CC0033
/*  gray                    #333333

/*... Red degraded colors:
/*  Deep red                #990000
/*  Corporative Deep red    #CC0033

/*... Green degraded colors:
/*  Deep green              #009900
/*  Light green             #77CC77
/*  Corporative green       #008080

/*... Blue degraded colors:
/*  Azul Codigo Oscuro:     #0033CC
/*  Azul Codigo Claro:      #9999CC
/*  Azul Electrico:         #0404CC
/*  Azul Fondo Oscuro:      #9999CC
/*  Azul claro:             #CCCCFF
/*  Sun java blue           #9999CC
/*  Eclipse blue            #0080C0
/*  Azul java               #C8C8F0
/*  Azul java intermedio    #8484B9
/*  Azul java oscuro        #33339A
/*  Azul gris muy oscuro    #636377





/*  Rojo claro:           #FFEEEE
/*  Verde claro:          #EEFFEE
/*  Azul claro:           #EEEEFF
/*  Naranja Claro:        #FFEEDD
/*  Amarillo claro:       #FFFFEE
/*  Pijama gris:          #EEEEEE

/*..............................................................................*/
/*... E C L I P S E   B A S E D   S T Y L E   S H E E T
/*..............................................................................*/
  H1 {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0080C0;
  }
  H2 {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0080C0;
  }
  H3 {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0080C0;
  }
  TD.H2 {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0080C0;
  }
  TD.H3 {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0080C0;
  }
  TD.H4 {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #CCCCFF;
  }
