/*..............................................................................*/
/*... C O L O R S
/*..............................................................................*/
/*... Corporative colors:
/*  red                     #CC0033
/*  gray                    #333333
/*... Red degraded colors:
/*  Deep red                #990000
/*  Corporative Deep red    #CC0033
/*... Green degraded colors:
/*  Deep green              #009900
/*  Light green             #77CC77
/*  Corporative green       #008080

/*  Sun java blue           #9999CC

/*  Azul claro:           #CCCCFF
/*  Rojo claro:           #FFEEEE
/*  Verde claro:          #EEFFEE
/*  Azul claro:           #EEEEFF
/*  Naranja Claro:        #FFEEDD
/*  Amarillo claro:       #FFFFEE
/*  Pijama gris:          #EEEEEE
/* Azul Codigo Oscuro:    #0033CC
/* Azul Codugo Claro:     #9999CC
/* Azul Electrico:        #0404CC
/* Azul Fondo Oscuro:     #9999CC
/* Azul Fondo Intermedio: #CCCCFF

/*..............................................................................*/
/*... G R E E N   D A T A   S H E E T
/*..............................................................................*/
  TD.DOCTYPE {
    background-color: #009900;
    color: WHITE;
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  TD.DOCTITLE {
    background-color: #77CC77;
    color: WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bold;
  }

  H1 {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #009900;
  }
  H2 {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #009900;
  }
  H3 {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #009900;
  }
  SPAN.ENTRYTITLE {
    color: #009900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
  }
