/*..............................................................................*/
/*... C O L O R E S                                                             */
/*..............................................................................*/
/*... Colores corporativos:
/*  rojo                    #CC0033
/*  gris                    #333333
/*... Gama Roja de Informes
/*  Fondo rojo oscuro:      #990000
/*  Fondo rojo corpo:       #CC0033

/*  Verde eresMas:        #008080
/*  Azul claro:           #CCCCFF
/*  Rojo claro:           #FFEEEE
/*  Verde claro:          #EEFFEE
/*  Azul claro:           #EEEEFF
/*  Naranja Claro:        #FFEEDD
/*  Amarillo claro:       #FFFFEE
/*  Pijama gris:          #EEEEEE

/*..............................................................................*/
/*... N O T A   T E C N I C A   R O J O
/*..............................................................................*/
  TD.NOTETITLE {
    background-color: #CC3333;
    color: WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
  }

  HR.COLOR {
    color: #CC3333;
  }

/*..............................................................................*/
/*... I N F O R M E S   R O J O
/*..............................................................................*/
  TD.DOCTYPE {
    background-color: #990000;
    color: WHITE;
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  TD.DOCTITLE {
    background-color: #CC0033;
    color: WHITE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bold;
  }

  H1 {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #990000;
  }
  H2 {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #CC0033;
  }
  H3 {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  TR.HEADER {
    background-color: #CC0033;
  }

  TD.HEADER {
    background-color: #CC0033;
    color: WHITE;
    font-size: 12pt;
    font-weight: bold;
  }
  
  CODE {
    color: #333333;
  }

  CODE.SQL {
    color: #333333;
  }

  PRE {
    color: #990000;
  }

  CITE {
    font-size: 8pt;
  }

  B.NOTES {
    color: #CC0033;
    font-weight: bold;
  }

  B.FIGURE {
    color: #CC0033;
    font-size: 10pt;
    font-weight: bold;
  }

/*..............................................................................*/
/*... P I J A M A
/*..............................................................................*/
  TR.PIJAMA_OFF {
    background-color: WHITE;
  }
  TR.PIJAMAWHITE {
    background-color: WHITE
  }

  TR.PIJAMABLACK {
    background-color: #EEEEEE
  }
  TR.PIJAMARED {
    background-color: #FFEEEE
  }
  TR.PIJAMAGREEN {
    background-color: #EEFFEE
  }
  TR.PIJAMABLUE {
    background-color: #EEEEFF
  }
  TR.PIJAMAORANGE {
    background-color: #FFEEDD
  }
  TR.PIJAMAYELLOW {
    background-color: #FFFFEE
  }
  TR.PIJAMA_ON {
    background-color: #FFCCCC;
  }
  TR.PIJAMAROJO {
    background-color: #FFCCCC;
  }
