tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style20
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:Hyperlink;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
a:visited
	{color:purple;
	font-size:8.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl24
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;}
.xl25
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:left;}
.xl26
	{mso-style-parent:style0;
	text-align:center;}
.xl27
	{mso-style-parent:style0;
	text-align:left;}
.xl28
	{mso-style-parent:style0;
	font-size:16.0pt;}
.xl29
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	text-align:left;
	mso-protection:locked hidden;}
.xl30
	{mso-style-parent:style0;
	text-align:center;
	mso-protection:locked hidden;}
.xl31
	{mso-style-parent:style0;
	color:#336699;
	vertical-align:top;
	white-space:normal;}
.xl32
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl33
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl34
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl35
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl36
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl37
	{mso-style-parent:style0;
	mso-number-format:"ddd\\\,\\ mmmm\\ dd\\\,\\ yyyy";
	text-align:right;
	vertical-align:top;}
.xl38
	{mso-style-parent:style0;
	mso-number-format:"ddd\\\,\\ mmmm\\ dd\\\,\\ yyyy";
	text-align:right;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl39
	{mso-style-parent:style20;
	color:#336699;
	vertical-align:top;
	white-space:normal;}
.xl40
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#FFB41E;
	mso-pattern:auto none;
	white-space:normal;}
.xl41
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:left;
	vertical-align:middle;
	background:#FFB41E;
	mso-pattern:auto none;
	white-space:normal;}
.xl42
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFB41E;
	mso-pattern:auto none;
	white-space:normal;}
.xl43
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#FF8200;
	mso-pattern:auto none;}
.xl44
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#FF8200;
	mso-pattern:auto none;}
.xl45
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF8200;
	mso-pattern:auto none;}
.xl46
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	background:#FF8200;
	mso-pattern:auto none;}
.xl47
	{mso-style-parent:style0;
	mso-number-format:Fixed;
	text-align:right;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#FF8200;
	mso-pattern:auto none;}
.xl48
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF8200;
	mso-pattern:auto none;}
.xl49
	{mso-style-parent:style0;
	mso-number-format:0%;
	text-align:right;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FF8200;
	mso-pattern:auto none;}
.xl50
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	background:#EC8C00;
	mso-pattern:auto none;}
.xl51
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"ddd\\\,\\ mmmm\\ dd\\\,\\ yyyy";
	background:#EC8C00;
	mso-pattern:auto none;}
.xl52
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:#EC8C00;
	mso-pattern:auto none;}
.xl53
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	text-align:center;
	background:#EC8C00;
	mso-pattern:auto none;}
.xl54
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl55
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl56
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl57
	{mso-style-parent:style0;
	color:#336699;
	text-align:left;
	vertical-align:top;}
.xl58
	{mso-style-parent:style0;
	color:white;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	background:#FF8200;
	mso-pattern:auto none;}
.xl59
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FFB41E;
	mso-pattern:auto none;
	white-space:normal;}
.xl60
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FFB41E;
	mso-pattern:auto none;
	white-space:normal;}
.xl61
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFB41E;
	mso-pattern:auto none;
	white-space:normal;}
