<html>
<body>
= REQUIREMENT A0008.01 =
== Define the initial game unit model ==
This will be a multi step requirement so this ticket will be the base point where I will attach the different model structures needed for the draft version of the model.

More model changes will be requested as new requirements to the Model component.

The initial root element of the game is the '''scenery'''. An scenery contains all the game elements that will be displayed over the map. There are elements that will not be shown on it because of the type of units or because are out on the view limits but all information lien on the scenery.

The presentation layer starts with the '''Map''', that will display blocks of 256 x 256 pixels from Google Maps to the right zoom level. So we start that we have a two level hierarchy. First level the scenery, second level the map and then the complete list of '''Units''' that are playing on the game.

To comply with GEF drawing mechanics, we set the units as children on the root model element that is the map. So the root model element is the Map that is implemented by the class {{{RootMapUnit}}}.

Model nodes may or may not contain children. For this purpose we have declared a single class parent called {{{Unit}}} that will include basic graph navigation. Most nodes are complex entities that have many objects depending on them like weapons and sensors. Many of that depending entities also have graphic representations that have to be layered.
</body>
</html>
