img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	}

/* Give some space for main div.*/	
.page-style {
	text-align: center;
	margin-top:100px;
	}
	
/* satisfy Mozilla */	
body > div.page-style {
	padding-left:30%;
	}
*.h1{
	font-weight: bold
}

#content {
	text-align:left;
	width:23em;
	} 




		

